 .card {
            width: 100%;
        }
        /* 使用媒体查询来针对移动设备更改字体大小 */
        @media (max-width: 767px) {
            body {
                font-size: 16px;
            }
            .card-header {
                font-size: 18px;
            }
            .card-body p {
                font-size: 16px;
            }
            .btn {
                font-size: 14px;
            }
        }
        .btn-toolbar {
  justify-content: flex-end;
}




